body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.success {
  max-width: 500px;
  font-size: 20px;
  font-weight: 600;
  color: green;
  background-color: lightgrey;
  border: solid;
  border-radius: 5px;
  border-color: green;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  max-width: 500px;
  font-size: 20px;
  font-weight: 600;
  color: red;
  background-color: lightgrey;
  border: solid;
  border-radius: 5px;
  border-color: red;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
